body {
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
    /* background: linear-gradient(to bottom, #ccc, #f5f5dc); Gris a beige */
    background-size: 100vh; /* Evita la repetición del fondo */
    background-color: rgba(255, 255, 255, 0.87);
}